*.o
*.gcda
*.gcno
*.gcov
coverage.info
coverage_report/
test_support_meta
test_osdep
test_log_meta
test_vdate
test_mreg
test_mplayer
test_conf_meta
test_game_support
test_game_autodetect
test_engineinfo
test_sdk_util
test_api_hook
test_api_info
test_commands_meta
test_dllapi
test_engine_api
test_h_export
test_linkgame
test_linkplug
test_meta_eiface
test_metamod
test_mlist
test_mplugin
test_mutil
test_reg_support
test_studioapi
test_osdep_p
test_osdep_linkent_linux
test_osdep_detect_gamedll_linux
